body {
  background-image: url("../../Img/background.jpg");
  color: #5a3e1b;
  font-family: "Georgia", serif;
  line-height: 1.8;
  text-align: justify;
  padding: 70px;
}

h1,
h2,
h3,
h4,
h6 {
  font-family: "Garamond", serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4a2f1b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

p {
  text-indent: 20px;
}

.text {
  font-family: "IM Fell English", serif;
  font-size: 18px;
  color: #4a2f1b;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  line-height: 2;
  font-size: 1em;
}

blockquote {
  font-family: "Caveat", cursive;
  font-size: 1.5em;
  line-height: 1.6;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }

  h1,
  h2,
  h3,
  h4,
  h6 {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .text {
    font-size: 16px;
  }

  blockquote {
    font-size: 1.2em;
  }
}
